@import url('https://fonts.googleapis.com/css2?family=Comic+Neue&display=swap');

body {
    background-color: #04291e;
    padding: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 3em;
    color: #ffffff;
    font-family: 'Comic Sans MS', 'Comic Neue', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

p {
    font-size: large;
}

.num {
    display: inline;
    color: #757575;
}

.extratxt {
    display: inline;
    color: #757575;
}

.price {
    /* display: inline; */
    color: bisque;
}

a {
    color: #4097c5;
}